openapi: 3.0.1
info:
  title: PayPetal Inc
  description: PayPetal Merchant API Documentation
  contact:
    name: PayPetal Developer
    url: www.paypetalhq.com
    email: developer@paypetalhq.com
  license:
    name: License of API
    url: API license URL
  version: '1.0'
servers:
  - url: https://developer.paypetalhq.xyz
    description: Generated server url
security:
  - BearerAuth: []
paths:
  /api/v1/escrow/agreement/complete/{reference}:
    put:
      tags:
        - escrow-controller
      summary: Complete Agreement and Release the the money to the merchant
      description: >-
        This endpoint allow the customer to release the money to merchant using
        the code
      operationId: completeRelease
      parameters:
        - name: reference
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteAgreementDto'
        required: true
      responses:
        '200':
          description: Authorization code sent to the customer email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agreement'
  /api/v1/escrow/agreement/auth/{reference}:
    put:
      tags:
        - escrow-controller
      summary: Request Authorization to complete escrow payment
      description: This endpoint is used to generate authorization
      operationId: requestAuth
      parameters:
        - name: reference
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json: {}
      responses:
        '200':
          description: Authorization code sent to the customer email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agreement'
  /api/v1/customer/{customerId}:
    get:
      tags:
        - customer-controller
      operationId: fetchCustomer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
    put:
      tags:
        - customer-controller
      operationId: updateCustomer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /api/v1/pay/initiate:
    post:
      tags:
        - developer-controller
      operationId: initiatePay
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiatePayDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseObject'
  /api/v1/escrow/agreement:
    post:
      tags:
        - escrow-controller
      summary: Create Agreement
      description: >-
        This endpoint allow merchant to create agreement. The agreement will be
        used to create escrow. To create agreement, merchant must provide
        agreement details in the request body.
      operationId: createAgreement
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgreementDto'
        required: true
      responses:
        '200':
          description: Agreement created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agreement'
        '400':
          description: Something went wrong
          content:
            '*/*':
              schema:
                type: object
  /api/v1/customer:
    post:
      tags:
        - customer-controller
      operationId: createCustomer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /api/auth/login:
    post:
      tags:
        - auth-controller
      summary: Authenticate Merchant
      description: >-
        This endpoint allow merchant to generate token. The token will be used
        to authenticate other endpoints. To generate token, merchant must
        provide base64 encoded developer secret key and application id in the
        request body. the base64 encoded string should be in the format of
        'developer_secret_key:application_id'.
      operationId: login
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LoginDto'
      responses:
        '200':
          description: Token generated successfully
          content:
            application/json: {}
        '400':
          description: Something went wrong
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseObject'
  /docs: {}
  /api/v1/transaction/{id}:
    get:
      tags:
        - developer-controller
      operationId: getMethodName
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseObject'
  /api/v1/escrow/agreements:
    get:
      tags:
        - escrow-controller
      summary: All Agreements
      description: This endpoint return all Agreements
      operationId: allAgreements
      parameters:
        - name: pageable
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Pageable'
      requestBody:
        content:
          application/json: {}
      responses:
        '200':
          description: Agreements retrieve successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Agreement'
  /api/v1/escrow/agreement/{reference}:
    get:
      tags:
        - escrow-controller
      summary: Get a single Agreements using ID or idempotencyKey
      description: This endpoint return a single endpoint
      operationId: getAgreement
      parameters:
        - name: reference
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json: {}
      responses:
        '200':
          description: Agreement retrieve successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agreement'
  /api/v1/customer/all:
    get:
      tags:
        - customer-controller
      operationId: fetchAllCustomers
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
      parameters: []
      security:
        - BearerAuth: []
  /api/v1/customer/delete/{customerId}:
    delete:
      tags:
        - customer-controller
      operationId: deleteCustomer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
components:
  schemas:
    Agreement:
      type: object
      properties:
        idempotencyKey:
          type: string
        reference:
          type: string
        currency:
          type: string
        amount:
          type: number
        description:
          type: string
        fee:
          type: number
        type:
          type: string
          enum:
            - ONETIME
            - MILESTONE
        feePayer:
          type: string
          enum:
            - SENDER
            - RECEIVER
        status:
          type: string
          enum:
            - CREATED
            - PAID
            - COMPLETED
        customer:
          $ref: '#/components/schemas/Customers'
        redirectUrl:
          type: string
        assigned:
          type: boolean
        milestones:
          type: array
          items:
            $ref: '#/components/schemas/AgreementMilestones'
        metadata:
          $ref: '#/components/schemas/JsonNode'
        createdAt:
          type: string
          format: date-time
    AgreementMilestones:
      type: object
      properties:
        id:
          type: string
        milestoneType:
          type: string
        description:
          type: string
        amount:
          type: number
        status:
          type: string
          enum:
            - PENDING
            - COMPLETED
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Customers:
      type: object
      properties:
        fullname:
          type: string
        customerId:
          type: string
        email:
          type: string
        phoneNumber:
          type: string
        createdAt:
          type: string
          format: date-time
    JsonNode:
      type: object
    CompleteAgreementDto:
      type: object
      properties:
        code:
          type: string
    CustomerDto:
      type: object
      properties:
        fullname:
          type: string
        email:
          type: string
        phoneNumber:
          type: string
    InitiatePayDto:
      type: object
      properties:
        amount:
          type: string
        currency:
          type: string
        transactionId:
          type: string
        description:
          type: string
        redirectUrl:
          type: string
        metadata:
          type: object
          additionalProperties:
            type: object
    ApiResponseObject:
      type: object
      properties:
        status:
          type: boolean
        statusCode:
          type: string
        message:
          type: string
        dataResponse:
          type: object
    AgreementDto:
      required:
        - amount
        - currency
        - customerId
        - description
        - feePayer
        - idempotencyKey
        - redirectUrl
        - type
      type: object
      properties:
        idempotencyKey:
          type: string
          description: Idempotency Key
        customerId:
          type: string
          description: Customer ID
        currency:
          type: string
          description: Currency
          enum:
            - USD
            - NGN
        amount:
          type: string
          description: Agreed Amount
        type:
          type: string
          description: Agreement Type
          enum:
            - ONETIME
            - MILESTONE
        feePayer:
          type: string
          description: Fee Payer
          enum:
            - SENDER
            - RECEIVER
        description:
          type: string
          description: Description
        redirectUrl:
          type: string
          description: The URL we will redirect back to when the fund has been deposited
        milestone:
          $ref: '#/components/schemas/MilestonesDto'
        metadata:
          type: object
          additionalProperties:
            type: object
            description: Add metadata
          description: Add metadata
      description: Agreement request
    MilestoneData:
      type: object
      properties:
        amount:
          type: string
          description: If amount is not set, then percentage must be set
        description:
          type: string
          description: Milestone description
      description: Milestone request
    MilestonesDto:
      type: object
      properties:
        milestoneType:
          type: string
        milestones:
          type: array
          items:
            $ref: '#/components/schemas/MilestoneData'
      description: Milestone request
    LoginDto:
      required:
        - base64Hashed
      type: object
      properties:
        base64Hashed:
          type: string
      description: Login request
    Pageable:
      type: object
      properties:
        page:
          minimum: 0
          type: integer
          format: int32
        size:
          minimum: 1
          type: integer
          format: int32
        sort:
          type: array
          items:
            type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
