{
  "openapi": "3.0.1",
  "info": {
    "title": "PayPetal Merchant API",
    "description": "The PayPetal Merchant API lets you accept payments, manage customers, and hold funds in escrow through a single REST interface.\n\n**Authentication:** All protected endpoints require a JWT Bearer token obtained from `POST /api/auth/login`. Tokens are valid for 7 days.\n\n**Base64 credential format:** `base64(secretKey:appId)`\n\n**Two escrow products:**\n- **TrustCore** — merchant-controlled escrow: you decide when to release or refund funds.\n- **TrustVault** — customer-controlled escrow: funds release when the customer supplies a one-time code.",
    "contact": {
      "name": "PayPetal Developer Support",
      "url": "https://www.paypetalhq.com",
      "email": "developer@paypetalhq.com"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.paypetalhq.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:8080",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "TrustVault Escrow",
      "description": "TrustVault is a customer-controlled escrow product. A customer funds an agreement through a hosted payment link; funds are released only when the customer supplies a one-time authorization code sent to their email. Your server does not trigger the release — the customer does."
    },
    {
      "name": "Customers",
      "description": "Manage the end-users registered under your merchant account. Customers are required as participants in TrustCore escrow agreements."
    },
    {
      "name": "Payments",
      "description": "Generate hosted payment links and verify transaction status. The customer is redirected to a PayPetal-hosted page to complete payment from their wallet. **Rate limit:** 60 requests per 60-second window per merchant on POST /pay/initiate."
    },
    {
      "name": "TrustCore Payout Accounts",
      "description": "Manage customer bank payout accounts for TrustCore escrow"
    },
    {
      "name": "TrustCore Escrow",
      "description": "TrustCore is PayPetal's merchant-controlled escrow product. Merchants initiate an agreement on behalf of a customer, generating a secure payment link. The customer funds the escrow through that link, and the merchant holds full control over when funds are released — enabling safe, trust-based transactions between buyers and sellers."
    },
    {
      "name": "Bank & Account Tools",
      "description": "List supported Nigerian financial institutions and validate a customer's bank account number before linking it as a TrustCore payout destination."
    }
  ],
  "paths": {
    "/api/v1/escrow/trustvault/agreement/complete/{reference}": {
      "put": {
        "tags": [
          "TrustVault Escrow"
        ],
        "summary": "Complete a TrustVault agreement",
        "description": "Releases the escrowed funds to the merchant using the one-time authorization code the customer received by email. The code is obtained by first calling `PUT /agreement/auth/{reference}`.",
        "operationId": "completeRelease",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "description": "Agreement `idempotencyKey` or internal reference.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "tv-order-2024-XYZ-001"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteAgreementDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Funds released successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agreement"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired code, or agreement already completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": false,
                    "statusCode": "01",
                    "message": "Invalid authorization code",
                    "dataResponse": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or expired Bearer token.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/escrow/trustvault/agreement/auth/{reference}": {
      "put": {
        "tags": [
          "TrustVault Escrow"
        ],
        "summary": "Request a release authorization code",
        "description": "Sends a one-time authorization code to the customer's registered email address. The customer must supply this code to `PUT /agreement/complete/{reference}` to release the funds. Call this endpoint when the customer is ready to approve the release.",
        "operationId": "requestAuth",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "description": "Agreement `idempotencyKey` or internal reference.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "tv-order-2024-XYZ-001"
          }
        ],
        "responses": {
          "200": {
            "description": "Authorization code sent to the customer's email.",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Agreement not found or not in a fundable state.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Missing, invalid, or expired Bearer token.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/escrow/trustcore/{reference}/refund": {
      "put": {
        "tags": [
          "TrustCore Escrow"
        ],
        "summary": "Refund escrow funds",
        "description": "Returns the escrowed amount to the initiator (payer). The initiator must have a payout bank account on file (add one via `POST /api/v1/escrow/trustcore/payout/{customerId}`). Triggers the `trustcore.payment.refund` webhook on success. Cannot be called if funds have already been paid out, a payout is in progress, or a refund has already been issued.",
        "operationId": "refundTrustCore",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "description": "Agreement reference ID or transaction ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ORDER-2024-XYZ-001"
          }
        ],
        "responses": {
          "200": {
            "description": "Refund initiated successfully — webhook will fire on completion.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "{\"status\":\"success\",\"responseCode\":\"00\",\"message\":\"Refund initiated successfully\",\"responseData:{}}"
                }
              }
            }
          },
          "400": {
            "description": "Structured error — see `responseData.code` for the specific reason.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": "error",
                    "responseCode": "400",
                    "message": "This agreement has already been refunded.",
                    "responseData": {
                      "type": "conflict_error",
                      "code": "already_refunded",
                      "message": "This agreement has already been refunded.",
                      "param": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or expired Bearer token.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/escrow/trustcore/{reference}/complete": {
      "put": {
        "tags": [
          "TrustCore Escrow"
        ],
        "summary": "Release escrow funds",
        "description": "Releases the escrowed amount to the counterparty (receiver). The counterparty must have a payout bank account on file (add one via `POST /api/v1/escrow/trustcore/payout/{customerId}`). Triggers the `trustcore.payment.completed` webhook on success. Cannot be called if a payout has already been completed or is currently in progress.",
        "operationId": "completeTrustCore",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "description": "Agreement reference ID or transaction ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ORDER-2024-XYZ-001"
          }
        ],
        "responses": {
          "200": {
            "description": "Payout initiated successfully — webhook will fire on completion.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": "success",
                    "responseCode": "00",
                    "message": "Payout initiated successfully",
                    "responseData": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Structured error — see `responseData.code` for the specific reason.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": "error",
                    "responseCode": "400",
                    "message": "The receiver does not have a payout account.",
                    "responseData": {
                      "type": "validation_error",
                      "code": "missing_payout_account",
                      "message": "The receiver does not have a payout account. Add one via the /trustcore/accounts endpoint.",
                      "param": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or expired Bearer token.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/escrow/trustcore/payout/{customerId}": {
      "put": {
        "tags": [
          "TrustCore Payout Accounts"
        ],
        "summary": "Update payout account",
        "description": "Replaces an existing customer payout account with a new validated bank account",
        "operationId": "updatePayoutAccount",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Business-facing customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payout account updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Customer not found, no existing account, or account not pre-validated",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "TrustCore Payout Accounts"
        ],
        "summary": "Add payout account",
        "description": "Links a validated bank account to a customer. The account number must be pre-validated before calling this endpoint",
        "operationId": "addPayoutAccount",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Business-facing customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payout account added successfully",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Customer not found, account already exists, or account not pre-validated",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "TrustCore Payout Accounts"
        ],
        "summary": "Remove payout account",
        "description": "Deletes the payout account linked to the given customer",
        "operationId": "removePayoutAccount",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Business-facing customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout account removed successfully",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Customer not found or no account linked",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/customer/{customerId}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a customer",
        "description": "Fetches a single customer by their `customerId`. The customer must belong to the authenticated merchant account.",
        "operationId": "fetchCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer ID returned when the customer was created.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "cus_a1b2c3d4e5"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": true,
                    "statusCode": "00",
                    "message": null,
                    "dataResponse": {
                      "customerId": "cus_a1b2c3d4e5",
                      "fullname": "Adaeze Okafor",
                      "email": "adaeze@example.com",
                      "phoneNumber": "+2348012345678"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Customer not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": false,
                    "statusCode": "01",
                    "message": "Customer not found",
                    "dataResponse": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or expired Bearer token.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a customer",
        "description": "Updates the profile fields of an existing customer. Only the fields provided in the request body are updated.",
        "operationId": "updateCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer ID to update.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "cus_a1b2c3d4e5"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customer updated successfully.",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Customer not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": false,
                    "statusCode": "01",
                    "message": "Customer not found",
                    "dataResponse": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or expired Bearer token.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/pay/initiate": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Initiate a payment",
        "description": "Creates a pending payment transaction and returns a hosted payment URL. Redirect your customer to `paymentUrl` to complete payment through their PayPetal wallet.\n\n**Idempotency:** supplying a `transactionId` that already exists for a pending transaction returns the existing record instead of creating a new one.\n\n**Rate limit:** 60 requests per 60-second window. Exceeding this returns HTTP 429.",
        "operationId": "initiatePay",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiatePayDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment initiated — redirect the customer to the returned `paymentUrl`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": true,
                    "statusCode": "00",
                    "message": null,
                    "dataResponse": {
                      "paymentUrl": "https://api.paypetalhq.com/pay?pid=20240715130001ABC",
                      "data": {
                        "transactionId": "260715130001ABCBIZ1RAND",
                        "reference": "20240715130001ABC",
                        "currency": "NGN",
                        "amount": 250,
                        "fee": 3.75,
                        "totalAmount": 253.75,
                        "status": "PENDING",
                        "description": "Order #ORD-9821",
                        "redirectUrl": "https://shop.example.com/checkout/success"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or business profile incomplete.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": false,
                    "statusCode": "01",
                    "message": "please set your business info.",
                    "dataResponse": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or expired Bearer token.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Parse the retry delay from the response message.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": false,
                    "statusCode": "01",
                    "message": "You have exceeded the allowed number of requests. Try again in 45 second(s).",
                    "dataResponse": null
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/escrow/trustvault/agreement": {
      "post": {
        "tags": [
          "TrustVault Escrow"
        ],
        "summary": "Create a TrustVault agreement",
        "description": "Creates a new TrustVault escrow agreement and returns a hosted payment URL. Redirect the customer to `paymentUrl` to fund the escrow. Supplying an `idempotencyKey` that already exists returns the original agreement without creating a new one.",
        "operationId": "createAgreement",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgreementDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agreement created — redirect the customer to `paymentUrl` to fund it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agreement"
                }
              }
            }
          },
          "400": {
            "description": "Validation error, customer not found, or duplicate idempotency key with conflicting data.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Missing, invalid, or expired Bearer token.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/escrow/trustcores": {
      "get": {
        "tags": [
          "TrustCore Escrow"
        ],
        "summary": "List a customer's TrustCore agreements",
        "description": "Returns a paginated list of all TrustCore escrow agreements where the specified customer is either the payer or receiver, scoped to the authenticated merchant account.",
        "operationId": "fetchAllByCustomerId",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Customer ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "cus_a1b2c3d4e5"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (1-based)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "size",
            "in": "query",
            "description": "Records per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of agreements retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Customer not found or invalid parameters",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "TrustCore Escrow"
        ],
        "summary": "Create TrustCore Agreement",
        "description": "This endpoint allows merchants to create a TrustCore agreement. The agreement will be used to create an escrow. To create an agreement, merchants must provide the agreement details in the request body.",
        "operationId": "createAgreement_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiateTrustCoreDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agreement created successfully",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Something went wrong",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/customer": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create a customer",
        "description": "Registers a new end-user under your merchant account and returns the created record including the generated `customerId`.",
        "operationId": "createCustomer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customer created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": true,
                    "statusCode": "00",
                    "message": "Customer created",
                    "dataResponse": {
                      "customerId": "cus_a1b2c3d4e5",
                      "fullname": "Adaeze Okafor",
                      "email": "adaeze@example.com",
                      "phoneNumber": "+2348012345678",
                      "createdAt": "2024-07-15T13:00:00.000+00:00"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or customer already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": false,
                    "statusCode": "01",
                    "message": "Customer already exists",
                    "dataResponse": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or expired Bearer token.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/account/bank/validate": {
      "post": {
        "tags": [
          "Bank & Account Tools"
        ],
        "summary": "Validate a bank account",
        "description": "Resolves a bank account number to the registered account name using the Nigerian banking system. Always call this endpoint first and confirm the returned name with the customer before linking the account as a TrustCore payout destination.",
        "operationId": "validateBank",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateAccountDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Account resolved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": true,
                    "statusCode": "00",
                    "dataResponse": {
                      "accountName": "OKAFOR ADAEZE CHIDIMMA",
                      "accountNumber": "0123456789",
                      "bankCode": "011"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Account not found or invalid bank code.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": false,
                    "statusCode": "01",
                    "message": "Account not found",
                    "dataResponse": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or expired Bearer token.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": [
          "auth-controller"
        ],
        "summary": "Authenticate Merchant",
        "description": "This endpoint allow merchant to generate token. The token will be used to authenticate other endpoints. To generate token, merchant must provide base64 encoded developer secret key and application id in the request body. the base64 encoded string should be in the format of 'developer_secret_key:application_id'.",
        "operationId": "loginCustomForm",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/LoginDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Token generated successfully",
            "content": {
              "application/json": {},
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          },
          "400": {
            "description": "Something went wrong",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/docs": {
      "get": {
        "tags": [
          "welcome"
        ],
        "operationId": "WelcomePaage",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transaction/{id}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Verify a transaction",
        "description": "Returns the current state of a transaction. Accepts either the `transactionId` (your reference) or the internal `reference` string returned at creation. Call this after a customer returns from the payment page to confirm success before fulfilling the order.",
        "operationId": "getMethodName",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Your `transactionId` or the internal `reference` string.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "20240715130001ABC"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": true,
                    "statusCode": "00",
                    "message": null,
                    "dataResponse": {
                      "transactionId": "20240715130001ABC",
                      "reference": "260715130001ABCBIZ1RAND",
                      "currency": "NGN",
                      "amount": 250,
                      "fee": 3.75,
                      "totalAmount": 253.75,
                      "status": "SUCCESS",
                      "payer": "customer@example.com",
                      "description": "Order #ORD-9821",
                      "metadata": {
                        "orderId": "ORD-9821"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Transaction not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": false,
                    "statusCode": "01",
                    "message": "Transaction ID not found",
                    "dataResponse": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or expired Bearer token.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/escrow/trustvault/agreements": {
      "get": {
        "tags": [
          "TrustVault Escrow"
        ],
        "summary": "List all TrustVault agreements",
        "description": "Returns a paginated list of all TrustVault agreements for the authenticated merchant. Supports Spring Data `Pageable` query parameters: `page`, `size`, and `sort`.",
        "operationId": "allAgreements",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agreements retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agreement"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or expired Bearer token.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/escrow/trustvault/agreement/{reference}": {
      "get": {
        "tags": [
          "TrustVault Escrow"
        ],
        "summary": "Get a TrustVault agreement",
        "description": "Retrieves a single TrustVault agreement by its `idempotencyKey` or internal reference. Both are accepted interchangeably.",
        "operationId": "getAgreement",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "description": "Agreement `idempotencyKey` or internal reference.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "tv-order-2024-XYZ-001"
          }
        ],
        "responses": {
          "200": {
            "description": "Agreement found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agreement"
                }
              }
            }
          },
          "400": {
            "description": "Agreement not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": false,
                    "statusCode": "01",
                    "message": "Agreement not found",
                    "dataResponse": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or expired Bearer token.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/escrow/trustcore": {
      "get": {
        "tags": [
          "TrustCore Escrow"
        ],
        "summary": "Fetch a TrustCore agreement by reference",
        "description": "Retrieves a single TrustCore escrow agreement using its reference ID or internal transaction ID. Both identifiers are accepted interchangeably.",
        "operationId": "fetchByReference",
        "parameters": [
          {
            "name": "reference",
            "in": "query",
            "description": "Fetch a TrustCore agreement by reference",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "260703172033852F5B6BRGLSY"
          }
        ],
        "responses": {
          "200": {
            "description": "Agreement found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Agreement not found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/escrow/trustcore/payout": {
      "get": {
        "tags": [
          "TrustCore Payout Accounts"
        ],
        "summary": "List payout accounts",
        "description": "Returns a paginated list of all customer payout accounts for the authenticated merchant",
        "operationId": "allPayoutAccount",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (1-based)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of records per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Accounts retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid pagination parameters",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/customer/all": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "List all customers",
        "description": "Returns all customers belonging to the authenticated merchant account.",
        "operationId": "fetchAllCustomers",
        "responses": {
          "200": {
            "description": "Customer list returned.",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Missing, invalid, or expired Bearer token.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/account/banks": {
      "get": {
        "tags": [
          "Bank & Account Tools"
        ],
        "summary": "List supported banks",
        "description": "Returns the full list of supported Nigerian financial institutions and their CBN bank codes. Use the `code` value when calling `POST /api/v1/account/bank/validate` or adding a payout account.",
        "operationId": "banks",
        "responses": {
          "200": {
            "description": "Bank list returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": true,
                    "statusCode": "00",
                    "dataResponse": [
                      {
                        "name": "Access Bank",
                        "code": "044"
                      },
                      {
                        "name": "First Bank of Nigeria",
                        "code": "011"
                      },
                      {
                        "name": "Guaranty Trust Bank",
                        "code": "058"
                      },
                      {
                        "name": "United Bank for Africa",
                        "code": "033"
                      },
                      {
                        "name": "Zenith Bank",
                        "code": "057"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or expired Bearer token.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/customer/delete/{customerId}": {
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a customer",
        "description": "Permanently removes a customer from your merchant account. This action cannot be undone.",
        "operationId": "deleteCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer ID to delete.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "cus_a1b2c3d4e5"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully.",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Customer not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": false,
                    "statusCode": "01",
                    "message": "Customer not found",
                    "dataResponse": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or expired Bearer token.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CompleteAgreementDto": {
        "required": [
          "code"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "One-time authorization code sent to the customer's registered email address via PUT /api/v1/escrow/trustvault/agreement/auth/{reference}.",
            "example": "483921"
          }
        },
        "description": "Authorization code required to complete a TrustVault escrow release"
      },
      "Agreement": {
        "type": "object",
        "properties": {
          "idempotencyKey": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "description": {
            "type": "string"
          },
          "fee": {
            "type": "number"
          },
          "type": {
            "type": "string",
            "enum": [
              "ONETIME",
              "MILESTONE"
            ]
          },
          "feePayer": {
            "type": "string",
            "enum": [
              "SENDER",
              "RECEIVER"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "CREATED",
              "PAID",
              "COMPLETED"
            ]
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "redirectUrl": {
            "type": "string"
          },
          "assigned": {
            "type": "boolean"
          },
          "milestones": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgreementMilestones"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/JsonNode"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AgreementMilestones": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "milestoneType": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "COMPLETED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "fullname": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "JsonNode": {
        "type": "object"
      },
      "AccountDto": {
        "required": [
          "accountNumber",
          "bankCode"
        ],
        "type": "object",
        "properties": {
          "accountNumber": {
            "type": "string",
            "description": "Bank account number (pre-validated).",
            "example": "0123456789"
          },
          "bankCode": {
            "type": "string",
            "description": "CBN bank code. Retrieve the full list from GET /api/v1/account/banks.",
            "example": "011"
          }
        },
        "description": "Bank payout account details. The account number must be pre-validated via POST /api/v1/account/bank/validate before linking."
      },
      "CustomerDto": {
        "required": [
          "fullname"
        ],
        "type": "object",
        "properties": {
          "fullname": {
            "type": "string",
            "description": "Customer's full name.",
            "example": "Adaeze Okafor"
          },
          "email": {
            "type": "string",
            "description": "Customer's email address.",
            "example": "adaeze@example.com"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Customer's phone number in international format.",
            "example": "+2348012345678"
          }
        },
        "description": "Customer create / update request"
      },
      "InitiatePayDto": {
        "required": [
          "amount",
          "currency",
          "description",
          "redirectUrl"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "type": "string",
            "description": "Amount in the smallest currency unit (e.g. kobo for NGN, cents for USD).",
            "example": "25000"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code.",
            "example": "NGN",
            "enum": [
              "NGN",
              "USD"
            ]
          },
          "transactionId": {
            "type": "string",
            "description": "Your unique reference for this payment (minimum 14 characters). If omitted, PayPetal generates one. Reusing a reference that belongs to an existing pending transaction returns that transaction instead of creating a new one.",
            "example": "20240715130001ABC"
          },
          "description": {
            "type": "string",
            "description": "Human-readable description shown on the payment page.",
            "example": "Order #ORD-9821 — Red Leather Bag"
          },
          "redirectUrl": {
            "type": "string",
            "description": "URL the customer is redirected to after payment completes.",
            "example": "https://shop.example.com/checkout/success"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "description": "Arbitrary key-value data stored with the transaction and returned in webhooks and verify calls unchanged.",
              "example": {
                "orderId": "ORD-9821",
                "customerId": "USR-001"
              }
            },
            "description": "Arbitrary key-value data stored with the transaction and returned in webhooks and verify calls unchanged.",
            "example": {
              "orderId": "ORD-9821",
              "customerId": "USR-001"
            }
          }
        },
        "description": "Payment initiation request"
      },
      "ApiResponseObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "statusCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "dataResponse": {
            "type": "object"
          }
        }
      },
      "AgreementDto": {
        "required": [
          "amount",
          "currency",
          "customerId",
          "description",
          "feePayer",
          "idempotencyKey",
          "redirectUrl",
          "type"
        ],
        "type": "object",
        "properties": {
          "idempotencyKey": {
            "type": "string",
            "description": "Unique key supplied by your platform. Reusing a key returns the original agreement instead of creating a new one (idempotent).",
            "example": "tv-order-2024-XYZ-001"
          },
          "customerId": {
            "type": "string",
            "description": "The `customerId` of the customer funding the escrow. Must exist on your merchant account.",
            "example": "cus_a1b2c3d4e5"
          },
          "currency": {
            "type": "string",
            "description": "Currency for the agreement.",
            "example": "NGN",
            "enum": [
              "USD",
              "NGN",
              "NGN",
              "USD"
            ]
          },
          "amount": {
            "type": "string",
            "description": "Amount in the smallest currency unit (e.g. kobo for NGN).",
            "example": "500000"
          },
          "type": {
            "type": "string",
            "description": "Agreement type. `ONETIME` for a single payment; `MILESTONE` for staged releases. When `MILESTONE`, the `milestone` field is required.",
            "example": "ONETIME",
            "enum": [
              "ONETIME",
              "MILESTONE",
              "ONETIME",
              "MILESTONE"
            ]
          },
          "feePayer": {
            "type": "string",
            "description": "Who bears the PayPetal system fee. `SENDER` adds the fee to the amount the customer pays; `RECEIVER` deducts it from the payout.",
            "example": "SENDER",
            "enum": [
              "SENDER",
              "RECEIVER",
              "SENDER",
              "RECEIVER"
            ]
          },
          "description": {
            "type": "string",
            "description": "Description of the goods or services covered by this agreement.",
            "example": "Freelance website redesign — Phase 1"
          },
          "redirectUrl": {
            "type": "string",
            "description": "URL the customer is redirected to after successfully funding the escrow.",
            "example": "https://yourapp.com/escrow/funded"
          },
          "milestone": {
            "$ref": "#/components/schemas/MilestonesDto"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "description": "Arbitrary key-value data stored with the agreement and returned in responses and webhooks unchanged.",
              "example": {
                "projectId": "PROJ-001",
                "clientRef": "CLIENT-42"
              }
            },
            "description": "Arbitrary key-value data stored with the agreement and returned in responses and webhooks unchanged.",
            "example": {
              "projectId": "PROJ-001",
              "clientRef": "CLIENT-42"
            }
          }
        },
        "description": "TrustVault escrow agreement creation request"
      },
      "MilestoneData": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string",
            "description": "If amount is not set, then percentage must be set"
          },
          "description": {
            "type": "string",
            "description": "Milestone description"
          }
        },
        "description": "Milestone request"
      },
      "MilestonesDto": {
        "type": "object",
        "properties": {
          "milestoneType": {
            "type": "string"
          },
          "milestones": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MilestoneData"
            }
          }
        },
        "description": "Milestone request"
      },
      "InitiateTrustCoreDto": {
        "required": [
          "amount",
          "counterparty",
          "currency",
          "description",
          "initiator",
          "redirectUrl",
          "referenceId"
        ],
        "type": "object",
        "properties": {
          "referenceId": {
            "type": "string",
            "description": "A unique reference generated by your platform to identify this escrow transaction. This value must be unique for every transaction and is used for reconciliation and tracking.",
            "example": "ORDER-2024-XYZ-001"
          },
          "initiator": {
            "type": "string",
            "description": "The unique identifier of the customer initiating the escrow payment. This customer must exist on your platform.",
            "example": "cus_a1b2c3d4e5"
          },
          "counterparty": {
            "type": "string",
            "description": "The unique identifier of the customer recieving the escrow payment. This customer must exist on your platform.",
            "example": "cus_a1b2c3d4e5"
          },
          "currency": {
            "type": "string",
            "description": "The currency used for the escrow transaction.",
            "example": "NGN",
            "enum": [
              "USD",
              "NGN"
            ]
          },
          "amount": {
            "type": "string",
            "description": "The escrow amount in the smallest currency unit. For example, NGN should be supplied in kobo.",
            "example": "50000"
          },
          "merchantCharge": {
            "type": "string",
            "description": "The additional amount your platform charges your customer as your own commission or service fee. This amount is collected on your behalf and is separate from the PayPetal system fee. Set to 0 or omit this field if you do not want to charge an additional amount.",
            "example": "1000"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the goods or services covered by this escrow transaction. This description is visible throughout the transaction lifecycle.",
            "example": "Payment for iPhone 15 Pro Max, 256GB, Space Black"
          },
          "redirectUrl": {
            "type": "string",
            "description": "The URL to which the customer is redirected after successfully funding the escrow. This URL should be handled by your application.",
            "example": "https://yourapp.com/escrow/callback"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "description": "Optional custom data associated with the transaction. TrustCore stores this information and returns it in responses and webhooks without modifying it.",
              "example": {
                "productId": "SKU-999",
                "orderId": "ORD-12345",
                "color": "Black"
              }
            },
            "description": "Optional custom data associated with the transaction. TrustCore stores this information and returns it in responses and webhooks without modifying it.",
            "example": {
              "productId": "SKU-999",
              "orderId": "ORD-12345",
              "color": "Black"
            }
          }
        },
        "description": "Creates a new TrustCore escrow transaction. TrustCore allows your platform to manage the complete escrow experience while PayPetal securely holds and releases funds. You may optionally specify a merchant charge to earn additional revenue from the transaction. PayPetal system fees are calculated separately based on your merchant fee settings, including who is configured to bear the system fee."
      },
      "ValidateAccountDto": {
        "required": [
          "accountNumber",
          "bankCode"
        ],
        "type": "object",
        "properties": {
          "accountNumber": {
            "type": "string",
            "description": "10-digit Nigerian bank account number.",
            "example": "0123456789"
          },
          "bankCode": {
            "type": "string",
            "description": "CBN bank code. Retrieve the full list from GET /api/v1/account/banks.",
            "example": "011"
          }
        },
        "description": "Account number validation request"
      },
      "LoginDto": {
        "required": [
          "base64Hashed"
        ],
        "type": "object",
        "properties": {
          "base64Hashed": {
            "type": "string",
            "description": "Base64 encoding of your credentials in the format `secretKey:appId`. Example: `base64('sk_live_abc123:app_xyz789')` → `'c2tfbGl2ZV9hYmMxMjM6YXBwX3h5ejc4OQ=='`",
            "example": "c2tfbGl2ZV9hYmMxMjM6YXBwX3h5ejc4OQ=="
          }
        },
        "description": "Authentication request. Encode your credentials as base64(secretKey:appId) before submitting."
      },
      "Pageable": {
        "type": "object",
        "properties": {
          "page": {
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "description": "JWT obtained from POST /api/auth/login. Valid for 7 days. Format: `Authorization: Bearer <token>`",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}